@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p, h2, h1, h3 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.titreLogo {
  font-size: 1em;
  font-weight: 400;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

body {
  min-width: 300px;
  max-width: 1905px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/************************
FOOTER
************************/
footer {
  width: 100%;
  padding: 20px 0 20px 10px;
  background-color: #353535;
}

nav {
  display: flex;
  flex-direction: column;
}
nav a {
  font-size: 0.8em;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
nav h3 {
  margin-bottom: 15px;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
nav a {
  line-height: 1.5em;
}
nav i {
  font-size: 0.7em;
}
nav .fa-solid {
  margin-right: 5px;
}
nav .fa-utensils {
  margin-right: 10px;
}

/*faire apparaitre et glisser des div avec effet de fondu au chargement de la page*/
@-webkit-keyframes fonduHaut {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fonduHaut {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*faire glisser une div vers la gauche*/
@-webkit-keyframes glisseGauche {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 80px;
    visibility: visible;
  }
}
@keyframes glisseGauche {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 80px;
    /*opacity: 1;*/
    visibility: visible;
  }
}
/*faire glisser une div vers la droite*/
@-webkit-keyframes glisseDroite {
  from {
    width: 80px;
    opacity: 1;
    visibility: visible;
  }
  to {
    width: 0px;
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes glisseDroite {
  from {
    width: 80px;
    opacity: 1;
    visibility: visible;
  }
  to {
    width: 0px;
    opacity: 0;
    visibility: collapse;
  }
}
/*Faire apparaitre les éléments du menu*/
@keyframes fonduHaut {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*faire apparaitre l'image colorer en dessous*/
@-webkit-keyframes colorisation {
  0% {
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes colorisation {
  0% {
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/************************
LOADER
************************/
/*Créer le loader-page de chargement*/
.chargement {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -webkit-animation: pageChargement 1s forwards;
  animation: pageChargement 1s forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.chargement .rond {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border: 5px rgba(147, 86, 220, 0.2) solid;
  border-left: 5px #FF79DA solid;
  -webkit-animation: rotation 800ms linear infinite;
  animation: rotation 800ms linear infinite;
}

@-webkit-keyframes pageChargement {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes pageChargement {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #353535;
}

h3 {
  font-size: 1em;
  margin-bottom: 5px;
}

/************************
HEADER
************************/
#banniere {
  display: flex;
  justify-content: center;
  border-bottom: 1px transparent solid;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#banniere img {
  margin: 10% 0 5% 5%;
}
#banniere .fa-arrow-left {
  position: absolute;
  left: 2%;
  font-size: 1.8em;
  margin: 20px 20px 0 10px;
}

/************************
MAIN
************************/
#photoTable {
  width: 100%;
  position: relative;
}
#photoTable img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  #photoTable img {
    height: 300px;
  }
}
#photoTable #blocNomRestaurant {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0%;
  background-color: #f6f6f6;
  border-radius: 15px 15px 0 0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1000px) {
  #photoTable #blocNomRestaurant {
    width: 30%;
    bottom: -30px;
    margin-left: 35%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

/*Gérer les icones coeurs + les transitions pour l'échange des icones*/
.coeurs {
  border: none;
  margin-bottom: 22px;
  margin-right: 8%;
  cursor: pointer;
}
.coeurs .fa-heart {
  position: absolute;
  font-size: 1.8em;
}
.coeurs .fa-solid {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coeurs .fa-regular {
  z-index: 2;
}
.coeurs:hover > .fa-solid {
  -webkit-animation: colorisation 800ms forwards linear;
  animation: colorisation 800ms forwards linear;
}
.coeurs:hover > .fa-regular {
  opacity: 0;
  transition: opacity 0.3s 0.4s ease-in;
}

#menu {
  background-color: #f6f6f6;
}
@media screen and (min-width: 1000px) {
  #menu {
    margin: 8% 15% 0 15%;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
#menu #bouton {
  display: flex;
  justify-content: center;
  width: 100%;
}

#carteMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
}
#carteMenu .sousligne {
  background-color: #99E2D0;
  height: 2px;
  width: 34px;
  margin-bottom: 25px;
}

.moment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
  height: auto;
}

.nourriture {
  display: flex;
  width: 100%;
  max-height: 60px;
  opacity: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  -webkit-animation: fonduHaut 2s linear forwards;
  animation: fonduHaut 2s linear forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.nourriture .description {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.nourriture .description h3, .nourriture .description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nourriture .prix {
  font-size: 0.9em;
  font-weight: bold;
  margin: 33px 20px 0 5px;
  padding: 0;
}
.nourriture .boiteGlissante {
  background: #99E2D0;
  border: 1px #99E2D0 solid;
  border-radius: 0 15px 15px 0;
  height: 100%;
  visibility: collapse;
}
.nourriture .boiteGlissante .fa-circle-check {
  font-size: 1.3em;
  color: #fff;
  margin-left: 30%;
  margin-top: 20px;
  transition: transform 0.8s ease-in-out;
}
.nourriture:hover > .boiteGlissante {
  -webkit-animation: glisseGauche 800ms forwards ease-in-out;
  animation: glisseGauche 800ms forwards ease-in-out;
}
.nourriture:hover > .boiteGlissante > .fa-circle-check {
  transform: rotate(360deg);
  transition-delay: 700ms;
}
.nourriture:not(:hover) > .boiteGlissante {
  -webkit-animation: glisseDroite 800ms ease-in-out;
  animation: glisseDroite 800ms ease-in-out;
}
.nourriture .prix {
  font-weight: bold;
}
.nourriture:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1000px) {
  .nourriture {
    max-width: 80%;
  }
}

.action {
  width: 50%;
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 3%;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#FF79DA, #9356DC);
}
.action:hover {
  cursor: pointer;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=styleMenu.css.map */