@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 3%;
  color: #353535;
}

h3 {
  font-size: 1em;
  margin: 1% 0 1% 0;
}

/************************
HEADER
************************/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#banniere {
  display: flex;
  justify-content: center;
  border-bottom: 1px transparent solid;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#banniere img {
  margin: 10% 0 5% 0;
}
#banniere .fa-solid {
  position: absolute;
  left: 2%;
  font-size: 1.8em;
  margin-right: 10%;
  margin-top: 20px;
}

/************************
MAIN
************************/
section {
  margin-bottom: 30px;
}

#photoTable {
  width: 100%;
  position: relative;
}
#photoTable img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  #photoTable img {
    height: 300px;
  }
}
#photoTable #blocNomRestaurant {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0%;
  background-color: #f6f6f6;
  border-radius: 15px 15px 0 0;
}
#photoTable #blocNomRestaurant .alignement {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#photoTable #blocNomRestaurant .alignement .fa-regular {
  font-size: 1.3em;
  margin-top: 4px;
}
@media screen and (min-width: 1000px) {
  #photoTable #blocNomRestaurant .alignement {
    margin-top: 0;
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  #photoTable #blocNomRestaurant {
    width: 30%;
    bottom: -30px;
    margin-left: 35%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1000px) {
  #menu {
    margin: 8% 15% 0 15%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), 2px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
#menu #bouton {
  display: flex;
  justify-content: center;
  width: 100%;
}

#carteMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}
#carteMenu .underline {
  background-color: #99E2D0;
  height: 2px;
  width: 34px;
  margin-bottom: 25px;
}

.moment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  gap: 2%;
}

.nourriture {
  width: 100%;
  height: auto;
  padding: 10px 20px 10px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.nourriture .description {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.nourriture .description .prix {
  font-size: 0.8em;
  font-weight: bold;
}
.nourriture:hover {
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1000px) {
  .nourriture {
    max-width: 80%;
  }
}

.action {
  width: 50%;
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 3%;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#FF79DA, #9356DC);
}
.action:hover {
  cursor: pointer;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

/************************
FOOTER
************************/
footer {
  width: 100%;
  padding: 20px 0 20px 10px;
  background-color: #353535;
}

nav {
  display: flex;
  flex-direction: column;
}
nav a, nav h3 {
  color: white;
}
nav h3 {
  margin-bottom: 15px;
}
nav a {
  line-height: 1.5em;
}
nav i {
  font-size: 0.7em;
}
nav .fa-solid {
  margin-right: 5px;
}
nav .fa-utensils {
  margin-right: 10px;
}/*# sourceMappingURL=styleMenu.css.map */