@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

h1 {
  font-size: 1.8em;
  line-height: 0.9em;
  margin: 25px 0 15px 0;
}

h2 {
  margin: 0 0 20px 0;
}

/************************
HEADER
************************/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#banniere {
  display: flex;
  justify-content: center;
  border-bottom: 1px transparent solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#banniere img {
  margin: 10% 0 5% 0;
}

#localisation {
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 50px;
  padding-top: 15px;
  background-color: #eaeaea;
}
#localisation .fa-location-dot {
  margin-right: 10px;
}
#localisation:hover {
  cursor: pointer;
}

#presentation {
  background-color: #f6f6f6;
  padding: 2%;
}
#presentation .centrer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#presentation p {
  color: gray;
}
#presentation .action {
  margin: 15px 0 30px 0;
}

.action {
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#FF79DA, #9356DC);
}
.action:hover {
  cursor: pointer;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

/************************
MAIN
************************/
main {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
main h2 {
  margin-left: 30px;
}

/* section fonctionnement*/
.conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin: 10px 0 40px 0;
  padding: 0 10px 0 15px;
  width: 100%;
}
.conteneur.type2 {
  padding: 0 10px 0 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 1000px) {
  .conteneur.type2 {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.etape {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  height: 70px;
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.etape:hover {
  background-color: #F5edff;
  cursor: pointer;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}
.etape .alignement {
  display: flex;
  position: absolute;
  width: 90%;
  left: -10px;
  top: 35%;
  color: black;
  font-weight: bold;
}
.etape .alignement .fa-solid {
  padding: 7px 9px 3px 9px;
  margin-right: 5%;
  font-size: 0.8em;
  color: white;
  background-color: #9356DC;
  border: 1px #9356DC solid;
  border-radius: 100%;
}
.etape .alignement .fa-icone {
  color: #9356DC;
  font-size: 1.1em;
  background: transparent;
  border: none;
}
.etape .alignement p {
  margin-top: 7px;
}
@media screen and (min-width: 1000px) {
  .etape {
    max-width: 300px;
  }
}

/* section restaurant*/
#restaurants {
  width: 100%;
  padding-top: 30px;
  background-color: #f6f6f6;
}

.carte {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.carte img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 1000px) {
  .carte img {
    width: 100%;
    height: 350px;
  }
}
.carte .nouveau {
  color: #278870;
  font-size: 0.8em;
  font-weight: bold;
  background: #99E2D0;
  padding: 2%;
  border-radius: 2px;
  right: 10px;
  top: 10px;
  position: absolute;
}
.carte .infoResto {
  margin: 5px 0 10px 0;
}
.carte:hover {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1000px) {
  .carte {
    max-width: 350px;
  }
}

.inforCarteResto {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 10px;
}
.inforCarteResto .fa-regular {
  position: absolute;
  right: 15px;
  top: 15px;
}

/************************
FOOTER
************************/
footer {
  width: 100%;
  padding: 20px 0 20px 10px;
  background-color: #353535;
}

nav {
  display: flex;
  flex-direction: column;
}
nav a, nav h3 {
  color: white;
}
nav h3 {
  margin-bottom: 15px;
}
nav a {
  line-height: 1.5em;
}
nav i {
  font-size: 0.7em;
}
nav .fa-solid {
  margin-right: 5px;
}
nav .fa-utensils {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */