
@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/fondations";
@import "./misenpage/header";
@import "./misenpage/footer";
@import "./composants/animations";


/************************
BODY/HTML
************************/
h1{
    font-size: 1.6em;
    line-height:0.9em;
    margin: 25px 0 15px 0;
}
 h2
 {
    font-size: 1.2em;
    margin: 0 0 20px 0;
}


/************************
HEADER
************************/
#banniere{
    display: flex;
    justify-content: center;
    border-bottom: 1px transparent solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0,0.2);
    z-index: 2;
    & img{
        margin: 10% 0 5% 0;
      }
  }
 
#localisation
{
   display: flex;
   justify-content: center;
   z-index: 1;
   height: 50px;
   padding-top: 15px;
   background-color: $fond1;
   & form 
   {
    margin-left: 60px;
   }
   & input
   {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.9em;  
     &::-webkit-input-placeholder
     {
        color : black;
        font-weight: bold;
     }  
     &::-moz-placeholder
     {
        color : black;
        font-weight: bold;
     }  
     &:-ms-input-placeholder
     {
        color : black;
        font-weight: bold;
     }  
     &::-ms-input-placeholder
     {
        color : black;
        font-weight: bold;
     }  
     &::placeholder
     {
        color : black;
        font-weight: bold;
     }
   }
   & .fa-location-dot 
   {
    margin-right: 10px ; 
   } 
   &:hover
    {
        cursor: pointer;
    }
}
#presentation
{
    background-color: $fond2;
    padding: 2% ;
    & .centrer
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
   
    }
    & p
    {
        color: gray;
 
    }
    & .action
    {
        margin: 15px 0 30px 0; 
    }
}
.action
    {
    padding: 15px;
    border-radius: 25px;
    color: #ffff;
    font-weight: bold;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0,0.2);
    background: linear-gradient($secondaire, $primaire);
    &:hover
    {
        cursor: pointer;
        box-shadow: 3px 5px 8px rgba(0, 0, 0,0.2); 
    }
}
/************************
MAIN
************************/
main 
{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    & h2
    {
        margin-left: 10px;
    }
}

/* section fonctionnement*/
.conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 10px 0 40px 0;
    padding:0 10px 0 18px;
    width: 100%;
    &.type2
    {
        padding: 0 10px 0 10px;
        margin-bottom: 0;
        @media screen and (min-width : 1000px)
        {
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
    }
}

.etape 
{
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    height: 70px;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    background-color: $fond2;
    box-shadow: 1px 2px 5px rgba(0, 0, 0,0.2);
    &:hover
    {
        background-color: #F5edff;
        cursor: pointer;
        box-shadow: 3px 5px 8px rgba(0, 0, 0,0.2); 
    }
    & .alignement
    {
        display: flex;
        align-items:baseline;
        position : absolute;
        gap: 4%;
        width: 90%;
        left: -10px ;
        top : 20px;
        color: black;
        font-weight: bold;
        &:hover > .fa-icone
        {
          color: $primaire;
        }
        & .numero
        {
           font-size: 0.7em;
            color: #ffff;
           border: 1px $primaire solid;
           background-color: $primaire;
           width: 21px;
           height: 21px;
           border-radius: 50%;
           
            & .fa-1, .fa-2
            {
                padding: 3px 0 0 6px;
            }
            & .fa-3
            {
                padding: 4px 0 0 5px;
            }


        }
        & .fa-icone
        {
            color: #686666;
            font-size: 1em;
        
        }
        & p {margin-top: 7px; font-size: 1em;}
    }
    @media screen and (min-width : 1000px){
        max-width: 300px;

    }
}
/* section restaurant*/
#restaurants
{
    width: 100%;
    padding-top: 30px;
    background-color: $fond2;
}
.carte
{
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10%;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0,0.2);
    & img
    {
        width: 100%;
        max-height: 400px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 15px 15px 0 0;
   @media screen and (min-width : 1000px){
       width: 100%;
       height: 350px;
     }
    }
    & .nouveau
    {
        color: darken($tertiaire, 40%);
        font-size: 0.8em;
        font-weight: bold;
        background: $tertiaire;
        padding: 2%;
        border-radius: 2px;
        right: 10px;
        top : 10px;
        position: absolute;
    }
    & .infoResto
    {
        margin: 5px 0 10px 0;
        & p 
        {
            margin-top: 3px;
        }
    }
    &:hover
    {
        box-shadow: 3px 5px 8px rgba(0, 0, 0,0.2);   
    } 
   @media screen and (min-width : 1000px){
      max-width:350px ;
   }
}

.inforCarteResto
{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 10px; 
}
/*Gérer les icones coeurs + les transitions pour l'échange des icones*/
.coeurs
{
    border: none;
    font-size: 1.1em;
    & .fa-heart
    { 
        right: 15px;
        top: 15px;
        position: absolute;  
    } 
    & .fa-solid
    {
    z-index: 1;
    opacity: 0;
    background:linear-gradient($secondaire, $primaire);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    & .fa-regular
    {
        z-index: 2;
    }
   &:hover > .fa-solid
   {
    -webkit-animation: colorisation 800ms forwards linear;
            animation: colorisation 800ms forwards linear;
   }
   &:hover > .fa-regular
   {
     opacity: 0;
     transition: opacity 0.3s 0.4s ease-in;
   }
}


/************************
RESPONSIVE
************************/