
  /*faire apparaitre et glisser des div avec effet de fondu au chargement de la page*/
  @-webkit-keyframes fonduHaut {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
@keyframes fonduHaut {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);  
    }
  }
  /*faire glisser une div vers la gauche*/
@-webkit-keyframes glisseGauche {
    from {
      width: 0px;
      opacity: 0;
    }
    to {
      width: 80px;
      visibility: visible;
    }
  }
@keyframes glisseGauche {
    from {
      width: 0px;
      opacity: 0;
    }
    to {
      width: 80px;
      visibility: visible;
    }
  }

  /*faire glisser une div vers la droite*/

  @-webkit-keyframes glisseDroite {
    from
    {
        width: 80px;
        opacity: 1;
        visibility: visible;
    }
    to
    {
       width: 0px;
       opacity: 0;
       visibility: collapse;
    }
    }

  @keyframes glisseDroite {
    from
    {
        width: 80px;
        opacity: 1;
        visibility: visible;
    }
    to
    {
       width: 0px;
       opacity: 0;
       visibility: collapse;
    }
    }
  /*Faire apparaitre les éléments du menu*/
  @keyframes fonduHaut {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /*faire apparaitre l'image colorer en dessous*/
  @-webkit-keyframes colorisation {
    0% {
      
      transform: scale(0.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes colorisation {
    0% {
    
    transform: scale(0.1) ;
  
    }
    100% {
      opacity: 1;
     transform: scale(1);
  
    }
  }

  
/************************
LOADER
************************/
/*Créer le loader-page de chargement*/
.chargement
{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    -webkit-animation: pageChargement 1s forwards;
            animation: pageChargement 1s forwards;
    -webkit-animation-delay:2s ;
            animation-delay:2s ;
    & .rond
    {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: inline-block;    
        border: 5px rgba(147, 86, 220,0.2) solid;
        border-left: 5px $secondaire solid;
       /* border-image: linear-gradient(#200122,#6f0000);
        border-image-slice: 1;*/
        -webkit-animation: rotation 800ms linear infinite;
                animation: rotation 800ms linear infinite;
    }
}
@-webkit-keyframes pageChargement
{
  from{
    opacity: 1;
  visibility: visible;
  }
  to{
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes pageChargement
{
  from{
    opacity: 1;
  visibility: visible;
  }
  to{
    opacity: 0;
    visibility: collapse;
  }
}

@-webkit-keyframes rotation 
{
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}

@keyframes rotation 
{
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
} 